*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $greyDark2;
  background-image: linear-gradient(to right bottom, $primaryLight, $primaryDark);
  background-size: cover;
  background-repeat: no-repeat;
}

::selection{
  background-color: $primary;
  color: $white;
}
