.header{

  &__logo{
    height: 3.25rem;
    margin-left: 2rem;
  }
  &__icon-box {
    background-color: blue;
    flex: 0 0 10%;
  }
}

.search{
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;  //It will be bigger
    border: none;
    background-color: $greyLight2;
    border-radius: 10rem;
    padding: .7rem 2rem;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus{
      width: 100%;
      outline: none;
      background-color: $greyLight3;
    }
    &::-webkit-input-placeholder{
      font-weight: 100;
      color: $greyLight4;
    }
  }
  &__btn{
    border: none;
    background-color: transparent;
    transition: all .2s;

    &:active{
      transform: translateY(.2rem);
    }
    &:focus{
      outline: none;
    }
  }
  &__icon{
    height: 2rem;
    width: 2rem;

    fill: $greyDark3;
  }
}

.user-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  & > *{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
  }
  & > *:hover{
    background-color: $greyLight2;
  }

  &__icon-box{
    position: relative;
  }

  &__icon{
    width: 2.25rem;
    height: 2.25rem;
    fill: $greyDark2;
  }

  &__notification{
    position: absolute;
    bottom: 1.5rem;
    right: 1.1rem;
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: $primary;
    border-radius: 50%;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo{
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav{
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2.5rem;

  &__item{
    position: relative;

    &:not(:last-child){
      margin-bottom: .5rem;
    }

    &::before{
      content: "";
      background-color: $primary;
      width: .3rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform .2s,
                  width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s;
    }
  }

  &__item:hover::before,
  &__item--active::before{
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before{
    background-color: $primaryLight;
  }

  &__link{
    &:link,
    &:visited{
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      color: $greyLight1;
      display: flex;
      align-items: center;
      padding: 1.5rem 3rem;
      z-index: 10;
    }
    &:hover{

    }
    &:active{

    }
  }

  &__icon{
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}

.legal{
  font-size: 1.2rem;
  text-align: center;
  color: $greyLight4;
  padding: 2.5rem;
}

.gallery{
  display: flex;

  &__item{
    width: 33.33%;
  }
  &__photo{
    width: 100%;
    height: 20rem;
    display: block;
  }
}

.text-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.hotel-descr{
  border-bottom: $line;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img{
    flex: 0 0 33%;
    height: 20rem;
  }

  &__location{
    position: relative;
    margin-right: 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    &-icon{
      width: 1.75rem;
      height: 1.75rem;
      fill: $primary;
      margin-right: 1rem;
    }
  }

  &__name{
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $greyDark2;
    padding: 1.5rem 3rem;
  }
  &__stars{
    display: flex;
    margin-right: auto;
  }
  &__icon{
    width: 1.75rem;
    height: 1.75rem;
    fill: $primary;
  }
  &__ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $greyLight1;
    padding: 0 2rem;
    align-self: stretch;

    &-value{
      font-size: 2.25rem;
      font-weight: 300;
    }
    &-amount{
      text-transform: uppercase;
      font-size: .8rem;
    }
  }
}

.btn-inline{
  border: none;
  color: $primary;
  font-size: inherit;
  border-bottom: .1rem solid currentColor;
  cursor: pointer;
  display: inline-block;
  padding-bottom: .2rem;
  background-color: transparent;

  transition: all .2s;

  span{
    margin-left: .3rem;
    transition: margin-left .2s;
  }

  &:hover{
    color: $greyDark1;

    span{
      margin-left: .8rem;
    }
  }
  &:focus{
    outline: none;
    animation: scale 1s infinite;
    backface-visibility: hidden;
  }
}


.paragraph:not(:last-of-type){
  margin-bottom: 2rem;
}

.list{
  list-style: none;
  padding: 3rem 0;
  margin: 3rem 0;
  border-top: $line;
  border-bottom: $line;
  display: flex;
  flex-wrap: wrap;

  &__item{
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }
  
  &__item::before{
    content: "";
    margin-right: .7rem;
    display: inline-block;
    height: 1rem;
    width: 1rem;

    //Old browsers
    //background-image: url(../img/chevron-thin-right.svg);
    //background-size: cover;

    //New browsers
    background-color: $primary;
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
  }
}

.recommend{
  font-size: 1.3rem;
  color: $greyDark3;
  display: flex;
  align-items: center;

  &__count{
    margin-right: auto;
  }
  &__friends{
    display: flex;
  }
  &__photo{
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: .3rem solid $white;

    &:not(:last-child){
      margin-right: -1.5rem;
    }
  }
}

.review{
  position: relative;
  background-color: $white;
  box-shadow: $shadow;
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow: hidden;

  &__text{
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
  }
  &__user{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__photo{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }
  &__user-box{
    margin-left: 1.5rem;
    margin-right: auto;
  }
  &__user-name{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .4rem;
  }
  &__user-date{
    font-size: 1rem;
    color: $greyDark3;
  }
  &__rating{
    font-size: 2.2rem;
    font-weight: 300;
    color: $primary;
  }
  &::before{
    content: "\201C";
    color: $greyLight2;
    font-size: 20rem;
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    z-index: 1;
    font-family: sans-serif;
  }
}


.cta{
  padding: 3.5rem 0;
  text-align: center;

  &__heading{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }
}

.btn{
  &:link,
  &:visited{
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 10rem;
    background-image: linear-gradient(to right, $primaryLight, $primaryDark);
    display: inline-block;
    text-decoration: none;
    color: $white;
    border: none;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  &:hover{
    background-image: linear-gradient(to left, $primaryLight, $primaryDark);
  }
  &:active{

  }

  & > *{
    height: 100%;
    width: 100%;

    transition: all .2s;
    display: inline-block;
  }

  &__visible{
    padding: 2rem 7.5rem;
  }

  &__hidden{
    position: absolute;
    padding: 2rem 0;
    color: $white;
    top: -100%;
    left: 0;
  }

  &:hover &__visible{
    transform: translateY(100%);
  }
  &:hover &__hidden{
    top: 0;
  }
  &:focus{
    outline: none;
    animation: scale 1s infinite;
  }
}

