.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $greyLight2;
  box-shadow: 0 2rem 6rem rgba($black, .4);

  min-height: 50rem;
  
  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }
  } 

::selection{
  background-color: $first;
  color: $greyLight1;
}

///////////////////////////////////////////////////////////////////////////////////////
//HEADER

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: $white;
  border-bottom: .2rem solid $greyLight2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest){
    flex-wrap: wrap;
    align-content: space-around;
    height: 13rem;
  }
}

///////////////////////////////////////////////////////////////////////////////////////
//CONTENT

.content{
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

///////////////////////////////////////////////////////////////////////////////////////
//SIDEBAR

.sidebar{
  background-color: $greyDark1;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

///////////////////////////////////////////////////////////////////////////////////////
//HOTEL VIEW

.hotel-view{
  background-color: $white;
  flex: 1;
}

///////////////////////////////////////////////////////////////////////////////////////
//NICKNAME

.nickname{
  &:link,
  &:visited{
    background-color: transparent;
    background-position: 0 0;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;

    &:hover,
    &:active{
      background-image: linear-gradient(to right bottom, $gold 0%, $gold1 20%, $white 20%, $gold 40%, $white 60%, $gold1 60%, $white 80%, $gold 100%);
      animation: gold 5s infinite alternate;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////
//DETAIL, DESCRIPTION, USER-REVIEWS

.detail{
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: $greyLight1;
  border-bottom: $line;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description{
  flex: 0 0 60%;
  background-color: $white;
  box-shadow: 0 2rem 5rem rgba($black, .06);
  padding: 3rem;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem;
    margin-right: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin: 0 0 3rem 0;
  }
}

.user-reviews{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

