$primary: #eb2f64;
$primaryLight: #FF3366;
$primaryDark: #BA265D;

$first: #b535ff;
$firstLight: #e89aff;
$firstDark: #5f258b;

$greyLight1: #faf9f9;
$greyLight2: #f4f2f2;
$greyLight3: #f0eeee;
$greyLight4: #ccc;

$greyDark1: #333;
$greyDark2: #777;
$greyDark3: #999;

$gold: #af8c38;
$gold1: #ffde2c;

$black: #000;
$white: #fff;

$line: .1rem solid $greyLight2;

$shadow: 0 2rem 5rem rgba($black, .09);

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;
